$color-header: #d3135a;
$color-main: #e6e6e6;
$color-white: #ffffff;
$color-grey-light: #cccccc;
$color-grey-medium: #666666;
$color-grey-dark: #4d4d4d;

$color-black: #000;
$color-white: #fff;
$color-blue: #0f79c0;
$color-text-grey-light: #a0a0a0;
$color-text-grey-medium: #565656;
$color-text-grey-dark: #333333;

$fsz: 1.4rem;




